<!doctype html>
<html lang="en">
  {% include "theme_head" %}
  <body>
  	{% include  "dash-sidebar"%}

  	<div class="main-content">
  		<div class="container-fluid">
  			<div class="row justify-content-center">
    			{{ content_for_layout }}
    			{% section "footer" %}
			</div>
		</div>
	</div>

    {% include "theme_scripts" %}
  </body>
</html>
